
body {
    font-family: "Times New Roman",Helvetica,sans-serif;

}
html {
    background-color: lightpink;
}

h1 {
    width: 400px;
    margin: auto;
    padding: 1em;
    background: floralwhite;
    border: 4px solid deeppink;
    text-align: center;

}

div{
    width: 200px;
    margin: 25px auto;
    padding: 2em;
    background: floralwhite;
    border: 4px solid deeppink;
    text-align: center;
    font-size: small;
}
